body{
  background-image: url('https://wallpapercave.com/wp/wp2570965.jpg');
  background-size: cover;
  overflow-x: hidden;
  margin:0;
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment: fixed;
}
.header{
  background-color: #d8d8d8;
  padding: 25px;
  box-sizing: border-box;
  text-align: center;
}

@media (min-width: 51px){
  .header{
    background: rgb(94, 75, 75)
  }
}

@media(max-width: 481px){
  .header{
    background: rgb(94, 75, 75)
  }
}

@media (min-width: 482px){
  .header{
    background:blanchedalmond
  }
}
@media (min-width: 1279px){
  .header{
    background: #D8D8D8;
  }
}
